.homebox {
    margin-top: 75px;
    position: relative;
    border: 2px solid #B2B2B2;
    border-radius: 15px;
    width: 80vw;
    height: 60vh;
    z-index: 2;
  }
  
  .centered-content {
    flex-grow: 1;
    margin-left: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }